head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="cards against humanity, cards for humanity, offensive card game")
  meta(name="description", content="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good.")

  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="viewport", content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')

  meta(property='fb:app_id', content='APP_ID')
  meta(property='og:title', content='#{appName} - #{title}')
  meta(property='og:description', content='Cards for Humanity - A game for horrible people desperately trying to do good')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://cfh.io')
  meta(property='og:image', content='http://cfh.io/img/screenshot-small.png')
  meta(property='og:site_name', content='Cards for Humanity')
  meta(property='fb:admins', content='APP_ADMIN')

  link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/css/common.css')
  link(rel='stylesheet', href='/css/animate.css')
  link(rel='stylesheet', href='/css/style.css')


  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
