<div id = "app-container" ng-controller="GameController">
  <div id = "social-bar-container">
    <player></player>
  </div>
  <div id = "gameplay-container">
    <div id = "upper-gameplay-container">
      <div id = "question-container">
        The Question: {{game.curQuestion.text}}
      </div>
      <div id = "timer-container">
        The Timer
      </div>
    </div>
    <div id="cards">
      <div id='answers' ng-hide="pickedCard || isCzar()" ng-repeat="card in game.players[game.playerIndex].hand" ng-click="pickCard(card)">A: {{card.text}}</div>
      <div id='table' ng-show="pickedCard || isCzar()" ng-repeat="answer in game.table">Picked answer: {{ answer.card.text }}</div>
    </div>
  </div>
</div>
