<div id = "app-container" ng-controller="GameController">
  <div id = "social-bar-container">
    <player></player>
  </div>
  <div id = "startGame" ng-click="startGame()" ng-show="game.playerIndex==0 && game.state=='awaiting players'">
    <h1>Start Game</h1>
  </div>
  <div id = "gameplay-container">
    <div id = "upper-gameplay-container">
      <div id = "question-container">
        <question></question>
      </div>
      <div id = "timer-container">
        <timer></timer>
      </div>
    </div>
    <answers></answers>
  </div></div>


