<div id="player-container" ng-repeat="player in game.players" style="background-color:{{colors[player.color]}}">
  <div id ="above-czar-container">  
    <div id="avatar_">
      <!-- <img src="http://png-5.findicons.com/files/icons/1072/face_avatars/300/o03.png"/> -->
      <img ng-src="{{player.avatar}}"/>
    </div>
    <!-- <div id="avatar"><img ng-src="{{player.avatarURL}}"/></div> TODO: for when dyanmic avatars are figured out-->
    <div id="player-container-inner">
      <div id="player-name"><h4>{{player.username}}</h4></div>
      <div id="player-score"><h5>{{player.points}}/5</h5></div>
    </div>
  </div>
  <div id="czar-container" ng-show="currentCzar($index)">
    <span id='the-czar'>CZAR</span>
  </div>
</div> 

