<div id="question-container-inner">
  <div class="card longBlack">
    <span ng-bind-html-unsafe="game.curQuestion.text"></span>

    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <div id="finding-players">Finding Players<div>
      <div id="player-count-container">
        <div id="player-count">{{game.players.length}} / 6 </div>
        <div id="the-word-players"> Players </div>
      </div>
      <div id="loading-container">
        <div id="loading-gif"><img ng-src="../img/loader.gif"/></div>
      </div>
      <div id="start-game-container" ng-click="startGame()" ng-show="(game.playerIndex === 0 || game.joinOverride) && game.players.length >= game.playerMinLimit">
        <div id='start-game-button'>
          Start Game with {{game.players.length}} players
        </div>
      </div>
    </div>
  </div>
</div>