<div id="main-bod">
  <!-- Fixed Logo & Menu Bar Start -->
  <div id="top-part">
    <div class="wpb-top-bar">
      <div class="mod-contain" id="navver">
        <div class="row">
          <!-- Logo -->
          <div class="wpb-logo-container">
            <div id="landing-logo"> 
              <span id="first-word">Cards</span>
              <span id="second-word"> for</span> 
              <span id="third-word">Humanity</span> 
            </div> 
            <div class="col-md-9 wpb-menu-container">
              <ul class="wpb-main-menu">
                <li><a href="/">Home</a></li>
              </ul>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </div>
<!-- Fixed Logo & Menu Bar End -->

<!-- Landing Start -->
<div class="wpb-teaser parallax-background" id="homer">
  <div class="background-opacity"></div> 
  <div class="modified-container">
    <div class="row" id="main-text"> 
    <!-- Teaser Text Start -->
    <div id="landing-logo">
      <div class="sign-body">
        <div class="more-sign">
          <h2 class="sign-in-header uppercase">Sign In</h2>
          <form class="signup form-horizontal" action="/users/session" method="post">
            <div class="control-group">
              <label for="email" class="control-label"></label>
              <div class="controls">
                <input class="input-info" id="email" type="text" name="email" placeholder="Email">
              </div>
            </div>
            <div class="control-group">
              <label for="password" class="control-label"></label>
              <div class="controls">
                <input class="input-info" id="password" type="password" name="password" placeholder="Password">
              </div>
            </div>
            <div class="form-actions top-margin">
              <a class="show-sign-up" href="/app">
                <div id="sign-up-btn" type='submit'>Sign In</div>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>

