$main-font: "helvetica neue", helvetica, sans-serif;
@mixin button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #f0f0f0) );
    background: -moz-linear-gradient( center top, #fcfcfc 5%, #f0f0f0 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0');
    background-color: #fcfcfc;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    height: 200px;
    line-height: 200px;
    width: 300px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
    margin-top: 15px;
    cursor: pointer;
} 

@mixin button-hover {
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #ededed) );
background: -moz-linear-gradient( center top, #f0f0f0 5%, #ededed 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ededed');
background-color: #f0f0f0;
color: #4e4e4e;
}
// , #first-section
html, body, #main-container, .cont, #inner-container {
    height: 100%;
}

#mission-statement-container{
    height: 100%;
}

.main-container{
    width: 80%;
    margin: 0px auto;
    font-family: $main-font;
}

.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.cont {
    width: 97%;
    margin: 0px auto;
}

.content {
    margin-top:50px;
    width:70%
}

#slogan {
    width: 100%;
    font-size: 4em;
    text-align: center;
    font-weight: bold;
}

#logo{
    float: right;
}

#longer-description {
    margin-top: 2%;
    font-size: 1.9em;
    width: 81%;
}

#join-game-container{
    // width: 27%; 
    margin: 0px auto;
    height: 100%;
}

#play-as-guest {
    text-align: right;
}

#signup-button {
    @include button;
}

#signup-button:hover {
    @include button-hover;
}

#description-container{
    $description-width: 93%;
    // margin-top: 50px;
    height: 100%;

    #first-card{
        width: ($description-width / 3) - 4; 
    }

    #second-card{
        width: ($description-width / 3) - 4; 
    }

    #third-card{
        width: ($description-width / 3) - 4; 
    }
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black;
    p {
        padding:5px 0 12px 10px;
    }
}


.card {
    position: relative;

    display: inline-block;
    box-sizing: border-box;
    width: 14em;
    height: 20em;
    padding: 1em;
    margin: 1em;

    background-color: rgb(249, 249, 249);

    border-radius: 0.5em;
    border: 0.0625em solid black;

    box-shadow: 0 0 0.5em rgba(0,0,0,0.25);

    color: black;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;

    vertical-align: top;

    &.black {
        background: black radial-gradient(ellipse at bottom right, rgb(50, 50, 50) 0%,#000000 100%);
        border-color: white;
        color: white;
    }

    &:before {
        content: 'CFH';
        position: absolute;
        bottom: 0.5em;
        left: 0.5em;

        font-size: 0.75em;
        font-weight: normal;
    }

    u {
        position: relative;
        content: '';
        display: inline-block;
        width: 50%;

        text-decoration: none;

        height: 1em;
        border-bottom: 0.125em solid black;
        margin-bottom: -0.125em;

        .small {
            width: 25%;
        }

        .big {
            width: 75%;
        }

        .end:after {
            position: absolute;
            right: -0.357em;
            display: inline-block;
            content: '.';
        }
    }
}



.hand {
    position: relative;
    width: 24em;
    height: 34em;
    
    .card {
        position: absolute;
        top: 0;
        left: 0;

        &:nth-child(1) {
            -webkit-transform: rotate(-7deg);
        }

        &:nth-child(2) {
            -webkit-transform: rotate(-3deg);
            left: 2%;
            top: 2%;
        }

        &:nth-child(3) {
            -webkit-transform: rotate(0deg);
            left: 4%;
            top: 4%;
        }

        &:active {
            z-index: 1;
        }
    }
}

#inner-container {
    width: 100%;
    font-size: 1em;
    text-align: center;
    font-weight: bold;

    position: absolute;
    bottom: 20px;
    left: 0;
    top: 20px;

    // &.longer-description {
    //     border-bottom: 1px dashed #ddd;
    //     text-align: justify;
    //     line-height: 1.8;
    //     background: #fff;
    //     max-width: 620px;
    //     font-size: 14px;
    //     padding: 80px 40px;
    //     margin: 0 auto;
    //     width: 600px;
    //     color: #333;
    // }

    // &.longer-description em {
    //     font-style: normal;
    //     font-size: 12px;
    //     color: #666;
    // }

    // &.longer-description em:before {
    //     content: '~';
    //     margin: 0 10px;
    // }
}