html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "helvetica neue", helvetica, sans-serif;
}

.main-container {
  height: 100%;
}

.cont {
  height: 100%;
}

#first-section {
  height: 100%;
}

#inner-container {
  height: 100%;
}

#signup-guest-container {
  width: 200px;
  margin: 45px auto;
}

#inner-description-container {
  height: 65%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#inner-timer-container {
  text-align: center;
}

#time {
  font-size: 108px;
}

#inner-join-container {
  height: 65%;
  width: 100%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#mission-statement-container {
  height: 100%;
  padding: 1%;
}

#description-container {
  height: 100%;
  position: relative;
}

.main-container {
  width: 80%;
  margin: 0px auto;
  font-family: "helvetica neue", helvetica, sans-serif;
}
@media only screen and (max-width: 1024px) {
  .main-container {
    width: 90%;
  }
}
@media only screen and (max-width: 480px) {
  .main-container {
    width: 100%;
  }
}

.navbar .nav > li > a.brand {
  padding-left: 20px;
  margin-left: 0;
}

.cont {
  width: 100%;
  margin: 0px auto;
}

.content {
  margin-top: 50px;
  width: 70%;
}

#slogan {
  width: 100%;
  font-size: 3.7em;
  text-align: center;
  font-weight: bold;
  padding: 2%;
}
@media only screen and (max-width: 1025px) {
  #slogan {
    font-size: 2.8em;
  }
}
@media only screen and (max-width: 768px) {
  #slogan {
    font-size: 2.3em;
  }
}

#logo {
  float: right;
  margin-left: 20px;
}
@media only screen and (max-width: 1024px) {
  #logo img {
    width: 70%;
    height: 70%;
  }
}

#longer-description {
  margin-top: 2%;
  font-size: 1.6em;
  width: 81%;
  margin-left: 10%;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  #longer-description {
    font-size: 1.4em;
  }
}

#main-question {
  font-weight: 600;
}

#description-paragraphs {
  font-weight: 400;
}

#join-game-container {
  margin: 0px auto;
  height: 100%;
  position: relative;
  width: 100%;
}

#down_arrow {
  bottom: 0;
  height: 70px;
  width: 64px;
  margin: 0 auto;
}
#down_arrow a {
  pointer: cursor;
}

#down_arrow_second {
  bottom: 0;
  height: 70px;
  width: 64px;
  margin: 0px auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

#up_arrow_second {
  top: 0;
  height: 70px;
  width: 64px;
  margin: 0px auto;
  display: block;
}

#play-as-guest {
  text-align: right;
}

#signup-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #f0f0f0));
  background: -moz-linear-gradient(center top, #fcfcfc 5%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0');
  background-color: #fcfcfc;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  text-indent: 0;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: arial;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  height: 200px;
  line-height: 200px;
  width: 300px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #ffffff;
  margin-top: 15px;
  cursor: pointer;
}

#signup-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #ededed));
  background: -moz-linear-gradient(center top, #f0f0f0 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ededed');
  background-color: #f0f0f0;
  color: #4e4e4e;
}

#signup-button-smaller {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #f0f0f0));
  background: -moz-linear-gradient(center top, #fcfcfc 5%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0');
  background-color: #fcfcfc;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  text-indent: 0;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: arial;
  font-size: 39px;
  font-weight: bold;
  font-style: normal;
  height: 100px;
  line-height: 100px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #ffffff;
  cursor: pointer;
  margin: 5px auto;
  display: block;
}
@media only screen and (max-width: 480px) {
  #signup-button-smaller {
    height: 50px;
    width: 100px;
    line-height: 50px;
    font-size: 19px;
  }
}

#player-container {
  height: 13.333%;
}

#avatar img {
  max-width: 80px;
  float: left;
  border-radius: 15px;
  border: 2px solid black;
  margin: 0 10px;
}

#signup-button-smaller:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #ededed));
  background: -moz-linear-gradient(center top, #f0f0f0 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ededed');
  background-color: #f0f0f0;
  color: #4e4e4e;
}

#description-container {
  height: 100%;
}
#description-container #first-card {
  width: 28%;
}
#description-container #second-card {
  width: 28%;
}
#description-container #third-card {
  width: 28%;
}
@media only screen and (max-width: 1024px) {
  #description-container #first-card {
    width: 26%;
  }
  #description-container #second-card {
    width: 26%;
  }
  #description-container #third-card {
    width: 26%;
  }
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #ddd;
  -webkit-box-shadow: 0 8px 6px 6px black;
  -moz-box-shadow: 0 8px 6px 6px black;
  box-shadow: 0 8px 6px 6px black;
}
footer p {
  padding: 5px 0 12px 10px;
}

#social-bar-container {
  width: 20%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: white;
}

#main-container {
  height: 100%;
}

#app-container {
  height: 100%;
}

#gameplay-container {
  height: 100%;
  width: 80%;
}

#upper-gameplay-container {
  height: 33%;
}

#question-container {
  height: 100%;
  float: left;
  width: 80%;
  background: white;
}

#timer-container {
  float: left;
  height: 100%;
  width: 20%;
}

#cards {
  width: 100%;
  height: 100%;
  background: white;
}

.card {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 14em;
  height: 20em;
  padding: 1%;
  margin: 1.3%;
  background-color: #f9f9f9;
  border-radius: 0.5em;
  border: 0.0625em solid black;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  color: black;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  vertical-align: top;
}
@media only screen and (max-width: 1024px) {
  .card {
    height: 14em;
    font-size: 16px;
  }
}
.card.black {
  background: black radial-gradient(ellipse at bottom right, #323232 0%, black 100%);
  border-color: white;
  color: white;
}
.card.longBlack {
  background: black radial-gradient(ellipse at bottom right, #323232 0%, black 100%);
  border-color: white;
  color: white;
  height: 10.7em;
  width: 35.5em;
}
.card.smallest {
  font-size: 0.750em;
}
.card:before {
  content: 'CFH';
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  font-size: 0.75em;
  font-weight: normal;
}
.card u {
  position: relative;
  content: '';
  display: inline-block;
  width: 50%;
  text-decoration: none;
  height: 1em;
  border-bottom: 0.125em solid black;
  margin-bottom: -0.125em;
}
.card u .small {
  width: 25%;
}
.card u .big {
  width: 75%;
}
.card u .end:after {
  position: absolute;
  right: -0.357em;
  display: inline-block;
  content: '.';
}

.hand {
  position: relative;
  width: 24em;
  height: 34em;
}
.hand .card {
  position: absolute;
  top: 0;
  left: 0;
}
.hand .card:nth-child(1) {
  -webkit-transform: rotate(-7deg);
}
.hand .card:nth-child(2) {
  -webkit-transform: rotate(-3deg);
  left: 2%;
  top: 2%;
}
.hand .card:nth-child(3) {
  -webkit-transform: rotate(0deg);
  left: 4%;
  top: 4%;
}
.hand .card:active {
  z-index: 1;
}

#inner-container {
  width: 100%;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 0;
  top: 20px;
}
#inner-container.longer-description {
  border-bottom: 1px dashed #ddd;
  text-align: justify;
  line-height: 1.8;
  background: #fff;
  max-width: 620px;
  font-size: 14px;
  padding: 80px 40px;
  margin: 0 auto;
  width: 600px;
  color: #333;
}
#inner-container.longer-description em {
  font-style: normal;
  font-size: 12px;
  color: #666;
}
#inner-container.longer-description em:before {
  content: '~';
  margin: 0 10px;
}
