$main-font: "helvetica neue", helvetica, sans-serif;
$mq-mobile-portrait : 320px !default;
$mq-mobile-landscape : 480px !default;
$mq-tablet-portrait : 768px !default;
$mq-tablet-landscape : 1024px !default;
$mq-desktop: 1100px !default;
$mq-custom-wide : 1200px !default;

// Both portrait and landscape
@mixin mobile-only {
    @media (max-width : $mq-mobile-landscape) {
        @content;
    }
}
 
// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
    @media (max-width : $mq-mobile-portrait) {
        @content;
    }
}
 
// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
    @media (max-width : $mq-mobile-portrait) {
        @content;
    }
}
 
// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
    @media (min-width : $mq-mobile-portrait) {
        @content;
    }
}
 
// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
    @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
        @content;
    }
}
 
// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
    @media only screen and (max-width : $mq-mobile-landscape) {
        @content;
    }
}
 
// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
    @media only screen and (min-width : $mq-mobile-portrait + 1) {
        @content;
    }
}
 
// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
    @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
        @content;
    }
}
 
// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
    @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
        @content;
    }
}
 
// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
    @media only screen and (max-width : $mq-tablet-portrait) {
        @content;
    }
}
 
// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
    @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
        @content;
    }
}
 
// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
    @media only screen and (max-width : $mq-tablet-landscape) {
        @content;
    }
}
 
// Everything larger than a landscape tablet
@mixin desktop-and-below {
    @media only screen and (max-width : $mq-tablet-landscape + 1) {
        @content;
    }
}

@mixin custom-wide {
    @media only screen and (min-width : $mq-custom-wide + 1) {
        @content;
    }
}

@mixin br{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

@mixin br-bottom {
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

@mixin button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #f0f0f0) );
    background: -moz-linear-gradient( center top, #fcfcfc 5%, #f0f0f0 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0');
    background-color: #fcfcfc;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    height: 200px;
    line-height: 200px;
    width: 300px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
    margin-top: 15px;
    cursor: pointer;
} 

@mixin button-hover {
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #ededed) );
background: -moz-linear-gradient( center top, #f0f0f0 5%, #ededed 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ededed');
background-color: #f0f0f0;
color: #4e4e4e;
}


@mixin button-smaller {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #f0f0f0) );
    background: -moz-linear-gradient( center top, #fcfcfc 5%, #f0f0f0 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0');
    background-color: #fcfcfc;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 39px;
    font-weight: bold;
    font-style: normal;
    height: 100px;
    line-height: 100px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
    cursor: pointer;
    margin: 5px auto;
    display: block;
} 

@mixin button-hover-smaller {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #f0f0f0 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ededed');
    background-color: #f0f0f0;
    color: #4e4e4e;
}

@mixin button-smallest {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #f0f0f0) );
    background: -moz-linear-gradient( center top, #fcfcfc 5%, #f0f0f0 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0');
    background-color: #fcfcfc;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
    cursor: pointer;
    margin: 5px auto;
    display: block;
} 

@mixin button-hover-smallest {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #f0f0f0 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ededed');
    background-color: #f0f0f0;
    color: #4e4e4e;
}

@mixin soft-button{
    text-align: center;
    position: relative;
    font-weight: bold;
    @include br;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0');
    background-color: #D5D5D5;
    text-indent: 0;
    text-shadow: 1px 1px 0px #ffffff;
    cursor: pointer;
}

.card {
    position: relative;

    display: inline-block;
    box-sizing: border-box;
    width: 18%;
    height: 20em;
    padding: 1%;
    margin: 1%;

    background-color: rgb(249, 249, 249);

    border-radius: 0.5em;
    border: 0.0625em solid black;

    // box-shadow: 0 0 0.5em rgba(0,0,0,0.25); //Let's try a flat look.

    color: black;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;

    vertical-align: top;

    @include tablet-landscape-and-below{
        height: 14em;
        font-size: 16px;
    }

    #selection-number {
        position: absolute;
        bottom: 1px;
        left: 7px;
        font-size: 18px;
    }

    &.black {
        background: black radial-gradient(ellipse at bottom right, rgb(50, 50, 50) 0%,#000000 100%);
        border-color: white;
        color: white;
    }

    &.longBlack {
        background: black radial-gradient(ellipse at bottom right, #323232 0%, black 100%);
        border-color: white;
        color: white;
        height: 10.7em;
        width: 35.5em;
    }

    &.smallest {
        font-size: 0.750em;
        cursor: pointer;
    }

    // &:before {
    //     content: 'CFH';
    //     position: absolute;
    //     bottom: 0.5em;
    //     left: 0.5em;

    //     font-size: 0.75em;
    //     font-weight: normal;
    // }
    
    u {
        position: relative;
        content: '';
        display: inline-block;
        width: 50%;

        text-decoration: none;

        height: 1em;
        border-bottom: 0.125em solid black;
        margin-bottom: -0.125em;

        .small {
            width: 25%;
        }

        .big {
            width: 75%;
        }

        .end:after {
            position: absolute;
            right: -0.357em;
            display: inline-block;
            content: '.';
        }
    }
}



.hand {
    position: relative;
    width: 24em;
    height: 34em;
    
    .card {
        position: absolute;
        top: 0;
        left: 0;

        &:nth-child(1) {
            -webkit-transform: rotate(-7deg);
        }

        &:nth-child(2) {
            -webkit-transform: rotate(-3deg);
            left: 2%;
            top: 2%;
        }

        &:nth-child(3) {
            -webkit-transform: rotate(0deg);
            left: 4%;
            top: 4%;
        }

        &:active {
            z-index: 1;
        }
    }
}

html, body, .main-container, .cont, #first-section, #inner-container{
    height: 100%;
}

html{
    margin: 20px;
    position: relative;
}
body{
    font-family: $main-font;
}

.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:50px;
    width:70%
}

/*
** START Home Page CSS
*/

.cont {
    width: 100%;
    margin: 0px auto;
}

.main-container{
    width: 80%;
    height: 100%;
    margin: 0px auto;
    font-family: $main-font;
    @include tablet-landscape-and-below{
        width: 90%;
    }
    @include mobile-landscape-and-below{
        width: 100%;
    }
}

#inner-container {
    width: 100%;
    font-size: 1em;
    text-align: center;
    font-weight: bold;

    position: absolute;
    bottom: 20px;
    left: 0;
    top: 20px;

    &.longer-description {
        border-bottom: 1px dashed #ddd;
        text-align: justify;
        line-height: 1.8;
        background: #fff;
        max-width: 620px;
        font-size: 14px;
        padding: 80px 40px;
        margin: 0 auto;
        width: 600px;
        color: #333;
    }

    &.longer-description em {
        font-style: normal;
        font-size: 12px;
        color: #666;
    }

    &.longer-description em:before {
        content: '~';
        margin: 0 10px;
    }
}


#mission-statement-container {
    height: 100%;
    padding: 1%;

    #slogan {
        width: 100%;
        font-size: 3.7em;
        text-align: center;
        font-weight: bold;
        padding:2%;
        @include desktop-and-below{
            font-size: 2.8em;
        }
        @include tablet-portrait-and-below{
            font-size: 2.3em;
        }
    }

    // #logo{
    //     float: right;
    //     margin-left: 20px;

    //     img{
    //         @include tablet-landscape-and-below{
    //             width: 70%;
    //             height: 70%
    //         }
    //     }
    // }

    #longer-description {
        margin-top: 2%;
        font-size: 1.6em;
        width: 81%;
        margin-left: 10%;
        text-align: center;

        @include tablet-landscape-and-below{
            font-size: 1.4em;
        }

        #description-paragraphs {
            font-weight: 400;

            #main-question {
                font-weight: 600;
            }
        }
    }

    #signup-guest-container{
        width: 200px;
        margin: 45px auto;

        #signup-button-smaller {
            @include button-smaller;
            @include mobile-landscape-and-below{
                height: 50px;
                width: 100px;
                line-height: 50px;
                font-size: 19px;
            }

            &:hover {
                @include button-hover-smaller;
            }
        }

        #play-as-guest {
            text-align: right;
        }
    }

    #down_arrow {
        bottom: 0;
        height: 70px;
        width: 64px;
        margin: 0 auto;

        a {
            pointer: cursor;
        }
    }
}

#description-container{
    height: 100%;
    position: relative;
    $description-width: 93%;
    height: 100%;

    #first-card{
        width: ($description-width / 3) - 3; 
    }

    #second-card{
        width: ($description-width / 3) - 3; 
    }

    #third-card{
        width: ($description-width / 3) - 3; 
    }

    @include tablet-landscape-and-below{
        #first-card{
            width: ($description-width / 3) - 5; 
        }

        #second-card{
            width: ($description-width / 3) - 5; 
        }

        #third-card{
            width: ($description-width / 3) - 5; 
        }
    }

    #inner-description-container{
      height: 65%;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    #down_arrow_second {
        bottom: 0;
        height: 70px;
        width: 64px;
        margin: 0px auto;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
    }
}

#join-game-container{
    margin: 0px auto;
    height: 100%;
    position: relative;
    width: 100%;

    #up_arrow_second{
        top: 0;
        height: 70px;
        width: 64px;
        margin: 0px auto;
        display: block;
    }

    #inner-join-container{
      height: 65%;
      width: 100%;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;

        #signup-button {
            @include button;
        }

        #signup-button:hover {
            @include button-hover;
        }
    }
}

/*
** End Home Page CSS
*/



/*
** START App CSS
*/
#main-container{
    height: 100%;
    #app-container {
        height: 100%;
        max-width: 1200px;
        margin: 0px auto;
        position: relative;

        #social-bar-container{
            width: 20%; 
            height: 100%;
            position: absolute; 
            right: 0; 
            background: white;

            #player-container{
                height: 13.166667%;
                position: relative;
                padding-top: 4%;
                padding-bottom: 4%;
                min-height: 85px;
                background: #7CE4E8;
                margin: 3%;
                @include br;

                #above-czar-container{
                    height: 65%;
                    width: 100%;

                    #avatar_ {
                        height: 100%;
                        width: 40%;
                        float: left;
                        img {
                            width: 100%;
                            height: 100%;
                            float: left;
                            @include br;
                            margin: 0 10px;
                            min-width: 40px;
                            min-height: 40px;
                        }
                    }
                    #player-container-inner{
                        float: left;
                        position: relative;
                        bottom: 8px;
                        left: 17px;
                    }
                }

                #czar-container {
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    width: 100%;
                    @include br-bottom;
                    background: black;
                    opacity:0.2;

                    #the-czar{
                        color: #fff;
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
            }
        }

        #gameplay-container{
            height: 100%;
            width: 80%;

            #upper-gameplay-container {
                height: 28%;
                width: 100%;
                min-height: 220px;

                @include tablet-portrait-only{
                   height: 20%;
                }

                @include tablet-landscape-and-below{
                    margin-bottom: 10px;
                    min-height: 175px;
                }

                #menu-timeremaining-container{
                    float: left;
                    width: 17%;
                    height: 100%;

                    #menu-container{
                        @include soft-button;
                        height: 20%;
                        margin-bottom: 10%;
                        line-height: 20%;
                        @include br;
                        #menu-button{
                            position: absolute;
                            top: 50%;
                            left: 0;
                            right: 0;
                        }
                    }

                    #timer-container {
                        height: 70%;

                        #inner-timer-container{
                            text-align: center;
                            @include soft-button;
                            background: #89FFAC; //Sexy?
                            text-shadow: none;
                            cursor: default;
                            border: none;
                            min-width: 85px;
                            min-height: 85px;

                            #timer-status-round, #timer-status-czar-choosing{
                                position: absolute;
                                left: 0;
                                right: 0;
                                padding-top: 5px;
                            }

                            #time{
                                font-size: 104px;

                                @include tablet-landscape-and-below{
                                    font-size: 80px;
                                }
                            }
                        }
                    }
                 }

                #question-container-outer {
                    height: 100%;
                    float: left;
                    width: 83%;

                    #question-container-inner{
                        width: 100%;

                        .card{
                            width: 97%;
                            margin: 0px auto;
                            display: block;

                            #notifications {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                padding: 10px;
                            }

                            #startGame{
                                width: 100%;
                                overflow: hidden;
                                height: 40%;
                                position: absolute;
                                bottom: 20%;
                                right: 1%;

                                #player-count-container, #loading-container, #start-game-container{
                                    width: 33.333%;
                                    float: left;
                                    text-align: center;
                                }

                                #player-count-container{
                                    #player-count{
                                        font-size: 33px;
                                    }
                                }

                                #loading-container{

                                }

                                #start-game-container{
                                    color: #333;

                                    #start-game-button{
                                        border-radius: 5px;
                                        -moz-border-radius: 5px;
                                        -webkit-border-radius: 5px;
                                        font-size: 20px;
                                        font-size: 1.25rem;
                                        font-weight: 400;
                                        color: white;
                                        background: #5adae2;
                                        padding: 0.65em 20px;
                                        width: 85%;
                                        cursor: pointer;
                                    }

                                    #start-game-button:hover{
                                       background:#41C2CA;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #info-container{
                width: 100%;
                background: #D5D5D5;
                @include br;
                text-align: center;
                padding: 15px;

                #inner-text{
                    font-size: 22px;
                }
            }

            #cards-container{
                width: 100%;
                background: #D5D5D5;
                @include br;

                #cards {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

/*
** End App CSS
*/

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black;
    p {
        padding:5px 0 12px 10px;
    }
}

