script.
      var _gaq=[['_setAccount','UA-44959535-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
script(type='text/javascript', src='/lib/jquery/jquery.js')
script(type='text/javascript', src='/lib/underscore/underscore-min.js')

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.js')

//AngularJS
script(type='text/javascript', src='http://code.angularjs.org/1.1.5/angular.js')
script(type='text/javascript', src='http://code.angularjs.org/1.1.5/angular-resource.js')
script(type='text/javascript', src='http://code.angularjs.org/1.1.5/angular-cookies.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route.js')

//Application Init
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/socket.js')
script(type='text/javascript', src='/js/services/game.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/game.js')
script(type='text/javascript', src='/js/init.js')

//Socket.io Client Library
script(type='text/javascript', src='/socket.io/socket.io.js')

//Livereload script rendered
//script(type='text/javascript', src='http://localhost:35729/livereload.js')