!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  script(type='text/javascript').
    if (window.location.hash == "#_=_") window.location.hash = ""
  include ../includes/head
  body(ng-app="mean")
  div.main-container
    nav.navbar(data-ng-include="'views/header.html'", data-ng-controller="HeaderController", role="navigation")
    block content
    include ../includes/foot
